@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-brand: rgb(38, 38, 38);
	--color-error: rgb(239, 68, 68);
	--color-warning: rgb(245, 158, 11);
	--color-success: rgb(20, 184, 166);

	--text-caption: 12px;
	--text-body: 14px;
	--text-heading-3: 16px;
	--text-heading-2: 20px;
	--text-heading-1: 30px;

	--font-monospace: monospace;
	--font-sans: 'Inter', sans-serif;

	--shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	--shadow-md: 0px 4px 16px -2px rgba(0, 0, 0, 0.08), 0px 2px 4px -1px rgba(0, 0, 0, 0.08);
	--shadow-lg: 0px 12px 32px -4px rgba(0, 0, 0, 0.08), 0px 4px 8px -2px rgba(0, 0, 0, 0.08);

	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 12px;
	--radius-full: 9999px;
}

@custom-variant mobile (@media (max-width: 767px));
